@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body{
    font-family: 'Source Sans Pro', "Helvetica", "Arial", sans-serif;
    font-size: 62,5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px repeat(2, 1fr) 100px;
    grid-template-areas: 
        "hd"
        "main"
        "ft";
}

.page_header {
    grid-area: hd;
}

.content {
    grid-area: main;
}

.page_footer{
    grid-area: ft;
}
